<div class="page">
  <div class="page__grid">
    <div class="page__grid__item page__grid__left">
      <h2>Hi, I'm</h2>
      <h1 class="accent__text">Kevin Montavon</h1>

      <p>
        I'm a web developer based in Baden, Switzerland. I'm passionate about web frameworks, web languages
        and cloud technologies.
      </p>

      <button class="primary-cta">See My Portfolio</button>
      <div class="spacer"></div>
    </div>
    <div class="page__grid__item page__grid__right">
      <img src="/assets/portrait.jpg" alt="Kevin Montavon"/>
    </div>
  </div>
</div>
