<nav class="nav">
  <div class="nav__logo">
    K.M.
  </div>
  <div class="nav__left">
    <div class="nav__links">
      <a class="nav__link" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="nav__link--active">Home</a>
      <a class="nav__link" routerLink="/about" routerLinkActive="nav__link--active">About</a>
      <a class="nav__link" routerLink="/portfolio" routerLinkActive="nav__link--active">Portfolio</a>
    </div>
    <div class="nav__theme_toggle">
      Theme
    </div>
  </div>
</nav>
